{{- $package := $.File.Options.GoPackage | replace "./;" "" -}}
package {{$package}}_gen //nolint

import (
	"context"
	"log"

	{{$package}} "$[ADAPTERKIT_LOGIC_PACKAGE]"
	"google.golang.org/grpc"
	"google.golang.org/grpc/credentials/insecure"
)
{{define "notOnFirstIter"}}{{with $list := .}}{{with $i := index $list 0}}{{with $toPrint := index $list 1}}
    {{- if ne $i 0 -}} {{$toPrint}} {{- end -}}
{{end}}{{end}}{{end}}{{end -}}

{{- define "upperFormat" -}}
    {{with $w := . -}}
    {{$list := regexSplit "\\." $w -1 -}}
    {{$f := index $list 0 -}}
    {{range $i, $d := $list -}}
        {{if ne 0 $i -}} {{$f = cat $f "_" -}} {{$f = cat $f $d|title -}} {{$f = $f | replace " " ""}} {{- end}}
    {{- end}}
    {{- $f | printf "%s"}}
{{- end}}{{end}}

{{- define "iterateOnFieldsName&Type"}}{{with $t := .}}
    {{- range $i, $f := $t.Field -}}{{template "notOnFirstIter" $x := list $i ", " -}} {{$f.Name -}}{{$var := $f | goTypeWithPackage}} {{template "upperFormat" $var}}
{{- end}}{{end}}{{end}}

{{- define "iterateOnFieldsToFill"}}{{with $t := .}}
    {{- range $i, $f := $t.Field -}}{{template "notOnFirstIter" $x := list $i ", " -}}  {{$f.Name | camelCase}}: {{$f.Name}}
{{- end}}{{end}}{{end}}

{{- range $m := .Service.Method}}
{{- if and (not .ServerStreaming) (not .ClientStreaming)}}
func Svc{{$m.Name}}
{{- with $t := $m.InputType | getMessageType $.File -}}
	( {{- template "iterateOnFieldsName&Type" $t -}} )
{{- end}}
{{- with $t := $m.OutputType | getMessageType $.File -}}
	{{""}} ({{"*"}}{{$package}}{{"." -}}{{$t.Name}}, error)
{{- end}} {
	ctx := context.Background()

	conn, err := grpc.DialContext(ctx, {{/* MUST BE REPLACED BY ARG GEST */}}"127.0.0.1:9314", grpc.WithTransportCredentials(insecure.NewCredentials()))
	if err != nil {
		log.Fatal(err)
	}
	defer conn.Close()

	client := {{$package}}.New{{$package | title}}SvcClient(conn)
	req := &{{$package}}.
	{{- with $t := $m.InputType | getMessageType $.File}}
		{{- $t.Name}} {{- "{" -}} {{template "iterateOnFieldsToFill" $t -}} }
    {{- end}}
	res, err := client.{{$m.Name}}(ctx, req)
	if err != nil {
		return nil, err
	}

	return res, nil
}
{{- else if and $m.ServerStreaming (not $m.ClientStreaming)}}
func Svc{{$m.Name}}
{{- with $t := $m.InputType | getMessageType $.File -}}
 ( {{- template "iterateOnFieldsName&Type" $t}})
{{- end}}
{{- with $t := $m.OutputType | getMessageType $.File -}}
 {{""}} ({{"chan *"}}{{$package}}{{"." -}}{{$t.Name}}, error)
{{- end}} {
  ctx := context.Background()

  conn, err := grpc.DialContext(ctx, {{/* MUST BE REPLACED BY ARG GEST */}}"127.0.0.1:9314", grpc.WithTransportCredentials(insecure.NewCredentials()))
  if err != nil {
    log.Fatal(err)
  }
  client := {{$package}}.New{{$package | title}}SvcClient(conn)
  chann := make
  {{- with $t := $m.OutputType | getMessageType $.File -}}
  	{{""}} ({{"chan *"}}{{$package}}{{"." -}}{{$t.Name}}, {{"1000"}})
  {{- end}}

  req := &{{$package}}.
  {{- with $t := $m.InputType | getMessageType $.File}}
    {{- $t.Name}} {{- "{" -}} {{template "iterateOnFieldsToFill" $t -}} }
  {{- end}}
  c, err := client.{{$m.Name}}(ctx, req)
  if err != nil {
    return nil, err
  }

  go func() {
    for {
  	  res, err := c.Recv()
  	  if err == io.EOF {
  		  conn.Close()
  		  close(chann)
  		  break
  	  }
  	  if err != nil {
  		  return
  	  }
  	  chann <- res
    }
  }()

  return chann, nil
}
{{- else}}
	panic("not implemented")
}
{{- end}}
{{end -}}
