{{- $package := $.File.Options.GoPackage | replace "./;" "" -}}

{{- define "PKG"}}{{.}}_gen{{end -}}


{{- define "iterateOnFieldsNameExtracted"}}{{with $slice := .}}{{with $t := index $slice 0}}{{with $mid := index $slice 1}}
	{{- range $i, $f := $t.Field -}} req.{{$mid}}.{{$f.Name | title -}},
{{- end}}{{end}}{{end}}{{end}}{{end -}}
package main

import (
	"fmt"

	"$[ADAPTERKIT_GOMOD]/pkg/{{$package}}_gen"
	"github.com/aws/aws-lambda-go/lambda"
	{{$package}} "$[ADAPTERKIT_LOGIC_PACKAGE]"
)


func initSvc() {{$package}}.{{$package | title}}SvcServer {
	return {{$package}}.New()
}


func HandleRequest(req {{template "PKG" $package}}.Request) ({{template "PKG" $package}}.Response, error) {
    switch req.RequestType {
    {{- range $m := .Service.Method}}
    {{- $t := $m.InputType | getMessageType $.File}}
    case "{{$m.Name}}":
        return {{template "PKG" $package}}.Svc{{$m.Name}}({{template "iterateOnFieldsNameExtracted" $x := list $t $m.Name}} initSvc())
    {{- end}}
	default:
		return swissknife_gen.Response{}, fmt.Errorf("unknow request type, %s", req.RequestType)
    }
}

func main() {
	lambda.Start(HandleRequest)
}
